 <table class="table">
      <thead>
        <tr>
            <th>ゲーム名</th>
            <th>チーム名</th>
            <th>リーダー名</th>
            <th>チーム説明</th>
        </tr>
      </thead>
    　　<% teams.each do |team| %>
        <tbody>
          <tr>
            <td><%= team.game_name %></td>
            <td><%= link_to team.team_name, team_path(team) %></td>
            <td><%= team.user.name %></td>
            <td><%= team.team_explanation %></td>
          </tr>
        </tbody>
      　<% end %>
      </table>