<div class="container">
 <div class="row">
   <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
     <h1 class='title1'>
         GAMEROOM<i class="fa-solid fa-alien-8bit"></i>!!
     </h1>
     <div class="title1_text2">
      ここではゲームユーザーが仲間を作り、<br>
     </div>
     <div class="title1_text2">
      仲間とのコミュニケーションができる場です。<br>
     </div>
     <div class="title1_text2">
      イベントの告知機能やチャット機能などを利用して、<br>
     </div>
     <div class="title1_text2">
      より楽しくゲームをプレイしましょう。
     </div>
   </div>
 </div>
</div>