// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.event {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.event_title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.table a {
    text-decoration: none;
    color: #000000	 ;
}