// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title1 {
    margin: 50px 30px 30px 0px;
}
.text1 {
   margin: 30px;
  font-size: 20px;
}

.text2 {
    margin: 10px 10px 10px 0px;
    font-size: 25px;
}