// Place all the styles related to the myteams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn1 {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 19pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 11px 52px;   /* 余白       */
  background    : #6666ff;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #6666ff;    /* 枠の指定 */
}
.btn1:hover {
  color         : #6666ff;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}
.table_overview{
    word-break: break-all;
}