<footer>
  <ul class="footer-menu">
   <li>
     <%= link_to "home", root_path %> ｜
   </li>
   <li>
     <%= link_to "about", home_about_path %>
   </li>
  </ul>
  <p>© All rights reserved by sasaki.</p>
</footer>